@import "libs/frontendler";
@import "elements/tweet";
@import "elements/topbar";
@import "elements/headerPage";

body {background: #f5f8fa; color:#292f33; font-family: sans-serif;}
* {margin: 0; padding: 0; box-sizing: border-box;}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.wrap {
  margin: 0 auto;
  width: 1200px;
  position: relative;
}



.main-container {
  padding: 10px 0 0;
  // transition: all 800ms ease-in-out;

  // &.header-locked {
  //   padding: 335px 0 0;
  // }

  .sidebar-left {
    @include grid-column(3,12);
  }

  .content {
    @include grid-column(9,12, false);
  }

  .timeline {
    @include grid-column(8, 12);

  }

  .sidebar-right {
    @include grid-column(4, 12);
  }

  .who-follow-box,
  .trend-box {
    border-radius: 6px;
    border: #e1e8ed solid 1px;
    background: #fff;
    height: 300px;
  }
}

.tabs-container {
  .list {
    border-bottom: #e1e8ed solid 1px;
    li {
      color: #ccd6dd;
      display: inline-block;
      font-weight: 300;
      padding: 15px 15px 12px;
    }
  }
}

.tabs-tweets-container {
  background: #fff;
  border: #ccc solid 1px;
  border-radius: 6px;
}
